* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Lato";
  font-style: normal;
  height: 100%;
}

.site-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
}

@import "vars";

@mixin txt($fw, $fs, $lh, $color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
}

@import "header.scss";
@import "footer.scss";

.brand-info {
  width: 100%;
  /* height: 764px; */
  background-color: #f1e4e6;
}

.brand-info-box {
  height: 764px;
  background-image: url(images/background-image.png);
  background-repeat: no-repeat;
  background-position: left;
}

.brand-info-wrapper {
  padding: 290px 0 0 650px;
  text-transform: uppercase;
  position: relative;
}

.brand-name-title {
  padding: 0 0 0 16px;
  border-left: 12px solid $color-pink;
  @include txt(900, 48px, 58px, $color-black);
}

.brand-name-subtitle {
  padding: 0 0 0 16px;
  border-left: 12px solid $color-pink;
  @include txt(700, 32px, 38px, $color-black);
}

.brand-name-subtitle span {
  color: $color-pink;
}

.categories {
  width: 100%;
  background-color: $color-white;
}

.categories-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 65px;
}

.button {
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
  &_hover-pink:hover {
    background: $color-pink;
    border: 1px solid $color-pink;
    color: $color-white;
  }
  &_hover-white:hover {
    background-color: $color-white;
    color: #f26376;
    border: 1px solid #ff6a6a;
  }
  &_hover-2color:hover {
    background-color: $color-white;
    background: $color-pink;
    border: 1px solid $color-pink;
    color: $color-white;
    .new-arrivals-description-button-add-logo {
      fill: $color-white;
    }
  }
  &_hover-registration:hover {
    background-color: $color-white;
    background: $color-white;
    border: 1px solid $color-pink;
    color: $color-pink;
    .fa-arrow-right {
      color: $color-pink;
    }
  }
}

.categories-link {
  display: block;
  text-decoration: none;
  &__button {
    display: block;
    margin: 0 auto;
    &_txt {
      width: 212px;
      height: 48px;
      border: 1px solid $color-pink;
      background-color: $color-white;
      @include txt(400, 16px, 47px, $color-pink);
    }
  }
}

.hvr-grow {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.categories-block-women {
  display: flex;
  width: 360px;
  min-height: 260px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/women-clothes.png);
  background-blend-mode: darken;
}

.categories-block-men {
  display: flex;
  width: 360px;
  min-height: 260px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/men-clothes.png);
  background-blend-mode: darken;
}

.categories-block-kids {
  display: flex;
  width: 360px;
  min-height: 260px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/kids-clothes.png);
  background-blend-mode: darken;
}

.categories-block-accessories {
  display: flex;
  width: $site-width;
  min-height: 180px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/accesories.png);
  background-blend-mode: darken;
  margin: 30px 0 96px 0;
}

.categories-heading {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  @include txt(400, 16px, 19px, $color-white);
}

.categories-heading span {
  display: block;
  @include txt(700, 24px, 29px, $color-pink);
}

.featured-items-heading {
  @include txt(400, 30px, 36px, $color-black);
  text-align: center;
}

.featured-items-heading-text {
  @include txt(400, 14px, 17px, #9f9f9f);
  text-align: center;
  margin: 6px 0 48px 0;
}

.product-item-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.product-item {
  position: relative;
  width: 360px;
  background: #f8f8f8;
  margin-bottom: 30px;
}
.product-item-photo {
  transition: filter 0.5s;
}

.product-item:hover .product-item-photo {
  filter: brightness(30%);
}

/* .product-item-link {
        display: block;
        text-decoration: none;
    } */
.product-item-text-container {
  padding: 25px 18px 20px 18px;
  text-align: left;
}

.product-item-title {
  @include txt(400, 13px, 16px, #000000);
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.product-item-text {
  @include txt(300, 14px, 17px, #5d5d5d);
  margin: 0 0 18px 0;
}

.product-item-price {
  @include txt(400, 16px, 19px, $color-pink);
}

.product-item-add-box {
  display: none;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 188px;
  pointer-events: none;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    &_property {
      width: 139px;
      min-height: 43px;
      border: 1px solid $color-white;
      background: transparent;
      text-align: center;
      text-decoration: none;
      pointer-events: all;
    }
  }
}

.product-item-add-text {
  @include txt(400, 14px, 43px, $color-white);
  margin: 0;
}

.product-item:hover .product-item-add-box {
  display: flex;
}

.product-item-add-logo {
  fill: $color-white;
  margin: 0 11px 0 0;
}

.featured-items {
  margin-bottom: 96px;
}

.additional-information {
  width: 100%;
  height: 341px;
  background-color: $color-black;
}

.additional-information-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 100px 10px 0 10px; */
}

.additional-information-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fbfbfb;
}

.additional-information-block-img {
  align-self: center;
  margin: 104px 0 25px 0;
}

.additional-information-heading {
  @include txt(400, 20px, 24px, #fbfbfb);
}

.additional-information-text {
  @include txt(300, 14px, 17px, #fbfbfb);
  margin-top: 16px;
}

@import "product";
@import "catalog";
@import "registration";
@import "cart";
