* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

.page-header {
  width: 100%;
  height: 75px;
  background-color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.wrapper-wide {
  width: 1600px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 18px 5px 0px 5px;
}

.header-menu-left-part {
  width: 280px;
}

.header-menu-right-part {
  width: 168px;
}

.header-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-logo-icon {
  fill: #e8e8e8;
  margin-bottom: 25px;
  vertical-align: none;
}

.header-logo-icon:hover {
  fill: #f16d7f;
}

.header-logo-icon:active {
  fill: #f16d7f;
}

.search {
  display: flex;
  width: 200px;
  height: 53px;
  margin: 0 auto;
}

.search-icon-form__label {
  display: block;
  width: 27px;
  height: 28px;
}

.search-icon-form__input {
  width: 0;
  height: 0;
  outline: none;
  background-color: transparent;
  border: none;
  transition: width 1s;
  padding: 0 5px 0 5px;
  margin-left: 10px;
}

.search-icon-form__input:focus {
  border-bottom: 2px solid #f16d7f;
  width: 200px;
  height: 28px;
  color: #ffffff;
}

.menu-list {
  position: relative;
}

.menu-box {
  background-color: #ffffff;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);
  padding: 35px;
  width: 232px;
  height: 764px;
  position: absolute;
  top: 51px;
  display: none;
  z-index: 1;
}

.menu-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.menu-categories {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f16d7f;
  text-align: left;
  padding: 24px 0 12px 0;
}

.menu-link {
  display: block;
  padding-left: 21px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-decoration: none;
}

.menu-link:hover {
  color: #f16d7f;
}

.menu-box:before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -5px;
  left: 12px;
  transform: rotate(45deg);
}

.menu-list:hover .menu-box {
  display: block;
}

.number-in-circle {
  position: relative;
}

.number-in-circle::after {
  content: "5";
  display: block;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 14px;
  line-height: 16px;
  color: #e8e8e8;
  text-align: center;
}

.number-in-circle:hover .header-logo-icon {
  fill: #f16d7f;
}

.number-in-circle:hover::after {
  background-color: #e8e8e8;
  color: #f16d7f;
}

.number-in-circle:active .header-logo-icon {
  fill: #f16d7f;
}

.header-logo-icon:active::after {
  background-color: #e8e8e8;
  color: #f16d7f;
}

.brand-info {
  width: 100%;
  /* height: 764px; */
  background-color: #f1e4e6;
}

.brand-info-box {
  height: 764px;
  background-image: url(images/background-image.png);
  background-repeat: no-repeat;
  background-position: left;
}

.brand-info-wrapper {
  padding: 290px 0 0 650px;
  text-transform: uppercase;
  position: relative;
}

.brand-name-title {
  padding: 0 0 0 16px;
  border-left: 12px solid #f16d7f;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.brand-name-subtitle {
  padding: 0 0 0 16px;
  border-left: 12px solid #f16d7f;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.brand-name-subtitle span {
  color: #f16d7f;
}

.categories {
  width: 100%;
  background-color: #ffffff;
}

.categories-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 65px;
}

.categories-link {
  display: block;
  text-decoration: none;
}

.categories-block-women {
  display: flex;
  width: 360px;
  min-height: 260px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/women-clothes.png);
  background-blend-mode: darken;
}

.categories-block-men {
  display: flex;
  width: 360px;
  min-height: 260px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/men-clothes.png);
  background-blend-mode: darken;
}

.categories-block-kids {
  display: flex;
  width: 360px;
  min-height: 260px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/kids-clothes.png);
  background-blend-mode: darken;
}

.categories-block-accessories {
  display: flex;
  width: 1140px;
  min-height: 180px;
  background-size: cover;
  background: rgba(33, 22, 22, 0.7) url(images/accesories.png);
  background-blend-mode: darken;
  margin: 30px 0 96px 0;
}

.categories-heading {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.categories-heading span {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.featured-items-heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.featured-items-heading-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9f9f9f;
  margin: 6px 0 48px 0;
}

.product-item-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.product-item {
  position: relative;
  width: 360px;
  background: #f8f8f8;
  margin-bottom: 30px;
}

.product-item:hover .product-item-photo {
  filter: brightness(30%);
}

/* .product-item-link {
    display: block;
    text-decoration: none;
} */
.product-item-text-container {
  padding: 25px 18px 20px 18px;
  text-align: left;
}

.product-item-title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 12px 0;
}

.product-item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 0 18px 0;
}

.product-item-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product-item-add-box {
  display: none;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 188px;
  pointer-events: none;
}

.product-item-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  min-height: 43px;
  border: 1px solid #ffffff;
  background: transparent;
  text-align: center;
  text-decoration: none;
  pointer-events: all;
}

.product-item-add-text {
  font-size: 14px;
  line-height: 43px;
  color: #ffffff;
}

.product-item:hover .product-item-add-box {
  display: flex;
}

.product-item-add-logo {
  fill: #ffffff;
  margin: 0 11px 0 0;
}

.product-item:hover .product-item-add:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.product-item:hover .product-item-add:hover .product-item-add-logo {
  fill: #f16d7f;
}

.product-item:hover .product-item-add:hover .product-item-add-text {
  color: #f16d7f;
}

.featured-items-button {
  display: block;
  margin: 0 auto;
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  background-color: #ffffff;
  color: #f26376;
  text-align: center;
  line-height: 47px;
  font-size: 16px;
}

.featured-items-button:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.featured-items {
  margin-bottom: 96px;
}

.additional-information {
  width: 100%;
  height: 341px;
  background-color: #222222;
}

.additional-information-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 100px 10px 0 10px; */
}

.additional-information-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fbfbfb;
}

.additional-information-block-img {
  align-self: center;
  margin: 104px 0 25px 0;
}

.additional-information-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
}

/* .page-footer {
    width: 100%;
    height: 527px;
 */
.footer-top-part {
  height: 448px;
  background-image: url(images/photo-subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.footer-top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 10px 0 10px;
}

.footer-top-left-part {
  width: 360px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.footer-top-part-image {
  margin-bottom: 35px;
}

.footer-top-right-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.first-line {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}

.subscribe-form {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  width: 323px;
  height: 49px;
  background-color: #e1e1e1;
  border-radius: 20px 0 0 20px;
  border: 1px solid transparent;
  padding-left: 22px;
}

.subscribe-button {
  width: 100px;
  height: 49px;
  background-color: #e05c6e;
  color: #ffffff;
  text-align: center;
  line-height: 49px;
  border-radius: 0 20px 20px 0;
  border: 1px solid transparent;
  font-size: 14px;
}

.subscribe-button:hover {
  background-color: #ffffff;
  color: #f26376;
  border: 1px solid #ff6a6a;
}

.footer-bottom-part {
  height: 79px;
  background-color: #222222;
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
  padding: 24px 8px 24px 8px;
}

.rights {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.social-icons {
  display: flex;
  width: 148px;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons-box {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.fa-brands {
  color: #000000;
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}

.social-icons-box:hover {
  background-color: #f16d7f;
}

.social-icons-box:active {
  background-color: #f16d7f;
}

.social-icons-box:hover .fa-brands {
  color: #ffffff;
}

.social-icons-box:active .fa-brands {
  color: #ffffff;
}

.new-arrivals {
  margin-bottom: 64px;
}

.new-arrivals-header {
  width: 100%;
  height: 148px;
  background-color: #f8f3f4;
}

.nav-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.breadcrumb-heading {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}

.breadcrumb {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: #f16d7f;
  font-weight: 700;
}

.link-color {
  color: #636363;
}

.link-color:hover {
  color: #f16d7f;
}

.breadcrumb-item.width {
  width: 53px;
}

.new-arrivals-product {
  width: 100%;
  /* height: 148px; */
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}

.new-arrivals-product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-box {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.fa-solid {
  color: #000000;
  font-size: 21px;
  margin: 13px 17px 13px 17px;
}

.arrow-box:hover .fa-solid {
  color: #f16d7f;
}

.arrow-box:active .fa-solid {
  color: #f16d7f;
}

.new-arrivals-product-image {
  margin: 11px 0 42px 0;
}

.new-arrivals-description {
  width: 1141px;
  height: 601px;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  background: #ffffff;
  transform: translate(0px, -64px);
}

.new-arrivals-description-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f16d7f;
  text-align: center;
  margin: 65px 0 12px 0;
}

.new-arrivals-description-divider {
  width: 63px;
  height: 3px;
  background: #ef5b70;
  margin: auto;
}

.new-arrivals-description-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
  margin: 12px 0 49px 0;
}

.new-arrivals-description-text {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin: auto;
}

.new-arrivals-description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ef5b70;
  margin: 32px 0 65px 0;
}

.new-arrivals-description-second-divider {
  width: 642px;
  height: 1px;
  border: 1px solid #eaeaea;
  margin: auto;
}

.select-property {
  width: 600px;
  margin: 0 auto;
  padding: 65px 0 48px 0;
}

.select-property-text {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
}

select {
  color: #6f6e6e;
  margin: 0 23px 0 9px;
  font-size: 14px;
  line-height: 17px;
}

.select-quantity {
  margin-right: 0px;
}

.new-arrivals-product-button-box {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
}

.new-arrivals-product-button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  min-height: 47px;
  border: 1px solid #ff6a6a;
  background: #ffffff;
  text-align: center;
  text-decoration: none;
}

.new-arrivals-product-button-add-text {
  font-size: 16px;
  line-height: 47px;
  color: #f26376;
}

.new-arrivals-product-button-add-logo {
  fill: #ef5b70;
  margin: 0 23px 0 0;
}

.new-arrivals-product-button-add:hover {
  color: #ffffff;
  background: #f16d7f;
  border: 1px solid #ff6a6a;
}

.new-arrivals-product-button-add:hover .new-arrivals-product-button-add-logo {
  fill: #ffffff;
}

.new-arrivals-product-button-add:hover .new-arrivals-product-button-add-text {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
